@font-face {
	font-family: pico;
	font-display: swap;
	src: url("../fonts/pico-8.woff2") format("woff2"), url("../fonts/pico-8.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ua;
	font-display: swap;
	src: url("../fonts/ua-BRAND-bold.woff2") format("woff2"), url("../fonts/ua-BRAND-bold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: ua;
	font-display: swap;
	src: url("../fonts/ua-BRAND-black.woff2") format("woff2"), url("../fonts/ua-BRAND-black.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: VinSlabPro;
	font-display: swap;
	src: url("../fonts/VinSlabPro-Light_0.woff2") format("woff2"), url("../fonts/VinSlabPro-Light_0.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: VinSlabPro;
	font-display: swap;
	src: url("../fonts/VinSlabPro-LightItalic.woff2") format("woff2"), url("../fonts/VinSlabPro-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: ua;
	font-display: swap;
	src: url("../fonts/ua-BRAND-regular.woff2") format("woff2"), url("../fonts/ua-BRAND-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
