@import "../../node_modules/bootstrap/scss/bootstrap";
@import "fonts";

*{
    outline: none;
}

body{
    background-color: #c5d3e0;
    margin: 0;
    padding: 56px 0 60px;
    min-width: 320px;
    .navbar{
        min-width: 320px;
    }
}

.ps{
    padding: 30px 0 0;
    margin: 0 auto;
    h1{
        font-family: pico;
        margin-bottom: 20px;
    }
    h2{
        font-family: VinSlabPro;
        font-style: italic;
    }
    figure{
        display: block;
        padding: 15px;
        margin-bottom: 30px;
        background-color: #fff;
        max-width: 900px;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 11px 9px 10px 5px rgb(51 51 51 / 30%);
        img{
            display: block;
            margin: 0 auto;
            max-width: 100%;
            border-radius: 10px;
        }
        figcaption{
            font-family: ua;
            display: block;
            text-align: center;
            padding: 15px 0 0;
        }
    }
    h4{
        font-weight: 400;
        a{
            font-style: italic;
            font-weight: 600;
            color: #3498db;
            text-decoration: none;
            transition: all 0.25s;
            opacity: 1;
            &:hover{
                opacity: 0.6;
            }
        }
    }
}

.task{
    padding: 30px;
    margin-top: 30px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 11px 9px 10px 5px rgb(51 51 51 / 30%);
    &-1{
        label{
            position: relative;
            cursor: pointer;
            display: inline-block;
            input[type=radio]{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                pointer-events: none;
                & + span::before,
                & + span::after{
                    content: "";
                    position: absolute;
                    display: block;
                    transition: all 0.25s;
                }
                & + span::before{
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    background: #ced4da;
                    border: 1px solid #adb5bd;
                    border-radius: 2px;
                }
                & + span::after{
                    top: 6px;
                    left: 6px;
                    width: 8px;
                    height: 8px;
                    background: #198754;
                    border-radius: 4px;
                    opacity: 0;
                }
                &:checked + span::before{
                    opacity: 0.5;
                }
                &:checked + span::after{
                    opacity: 1;
                }
            }
            span{
                position: relative;
                padding-left: 27px;
                display: block;
                line-height: 20px;
                font-size: 14px;
            }
            input[type=checkbox]{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                pointer-events: none;
                & + span::before,
                & + span::after{
                    content: "";
                    position: absolute;
                    display: block;
                    transition: all 0.25s;
                }
                & + span::before{
                    top: 0;
                    left: 0;
                    width: 40px;
                    height: 20px;
                    background: rgb(220 53 69 / 15%);
                    border: 1px solid #dc3545;
                    border-radius: 2px;
                }
                & + span{
                    padding-left: 47px;
                }
                & + span::after{
                    top: 4px;
                    left: 4px;
                    width: 12px;
                    height: 12px;
                    background: #dc3545;
                    border-radius: 2px;
                }
                &:checked + span::before{
                    background: rgb(25 135 84 / 15%);
                    border: 1px solid #198754;
                }
                &:checked + span::after{
                    left: 23px;
                    background: #198754;
                }
            }
            &:hover{
                span{
                    &::before{
                        opacity: 0.75;
                    }
                }
            }
        }

        button{
            font-family: ua;
            display: block;
            border: 0;
            background: #fe0;
            padding: 15px;
            width: 100%;
            font-weight: 600;
            font-size: 14px;
            line-height: 1;
            padding: 18px 25px;
            color: #000;
            border-radius: 25px;
            text-align: center;
            transition: all 0.25s;
            &:hover{
                background: #ffc44e;
            }
            &:active{
                background: #ffac0b;
            }
        }
    }
}