@import "../../node_modules/bootstrap/scss/bootstrap";
@import "fonts";

@import "task-1";
@import "task-2";

*{
    outline: none;
}
button, input[type=submit]{
    box-shadow: none!important;
}

body{
    background-color: #c5d3e0;
    margin: 0;
    padding: 56px 0 60px;
    min-width: 320px;
    .navbar{
        min-width: 320px;
    }
}

.ps{
    h1{
        font-family: pico;
        margin-bottom: 20px;
    }
    h2{
        font-family: VinSlabPro;
        font-style: italic;
    }
    figure{
        display: block;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        background-color: #ccc;
        max-width: 900px;
        border-radius: 15px;
        overflow: hidden;
        img{
            display: block;
            margin: 0 auto;
            max-width: 100%;
            border-radius: 10px;
        }
        figcaption{
            font-family: ua;
            display: block;
            text-align: center;
            padding: 15px 0 0;
        }
    }
    h4{
        font-weight: 400;
        a{
            font-style: italic;
            font-weight: 600;
            color: #3498db;
            text-decoration: none;
            transition: all 0.25s;
            opacity: 1;
            &:hover{
                opacity: 0.6;
            }
        }
    }
}

.task{
    padding: 30px;
    margin-top: 30px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 11px 9px 10px 5px rgb(51 51 51 / 30%);
    .wrapper{
        h1{
            margin-bottom: 30px;
        }
    }
}