.task{
    label{
        position: relative;
        cursor: pointer;
        display: inline-block;
        input[type=radio]{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            & + span::before,
            & + span::after{
                content: "";
                position: absolute;
                display: block;
                transition: all 0.25s;
            }
            & + span::before{
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                background: #ced4da;
                border: 1px solid #adb5bd;
                border-radius: 2px;
            }
            & + span::after{
                top: 6px;
                left: 6px;
                width: 8px;
                height: 8px;
                background: #198754;
                border-radius: 4px;
                opacity: 0;
            }
            &:checked + span::before{
                opacity: 0.5;
            }
            &:checked + span::after{
                opacity: 1;
            }
        }
        span{
            position: relative;
            padding-left: 27px;
            display: block;
            line-height: 20px;
            font-size: 14px;
        }
        input[type=checkbox]{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            & + span::before,
            & + span::after{
                content: "";
                position: absolute;
                display: block;
                transition: all 0.25s;
            }
            & + span::before{
                top: 0;
                left: 0;
                width: 40px;
                height: 20px;
                background: rgb(220 53 69 / 15%);
                border: 1px solid #dc3545;
                border-radius: 2px;
            }
            & + span{
                padding-left: 47px;
            }
            & + span::after{
                top: 4px;
                left: 4px;
                width: 12px;
                height: 12px;
                background: #dc3545;
                border-radius: 2px;
            }
            &:checked + span::before{
                background: rgb(25 135 84 / 15%);
                border: 1px solid #198754;
            }
            &:checked + span::after{
                left: 23px;
                background: #198754;
            }
        }
        &:hover{
            span{
                &::before{
                    opacity: 0.75;
                }
            }
        }
    }
    
    &-1{
        button{
            font-family: ua;
            display: block;
            border: 0;
            background: #fe0;
            padding: 15px;
            width: 100%;
            font-weight: 600;
            font-size: 14px;
            line-height: 1;
            padding: 18px 25px;
            color: #000;
            border-radius: 25px;
            text-align: center;
            transition: all 0.25s;
            &:hover{
                background: #ffc44e;
            }
            &:active{
                background: #ffac0b;
            }
        }
    }
}